// out: css/grid.css, compress: true
// @import 'variables.less';
// Name:            main
// Description:     Defines styles to create layouts with main
//
// Component:       '.grid__*'
//                  '.grid__*'
//
// -------------------------------------------------
// Block ''
// -------------------------------------------------
.container{
    width: 1110px;
    margin: 0 auto;

    // Modificator '.container.container--qa'
    &&--qa{
        position: relative;
        padding: 60px 0;
    }

    // Modificator '.container.container--sm'
    &&--sm{
        width: 730px;
    }
}

// -----------------------------------------------
// Size: xSmall
// -----------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    // -------------------------------------------
    // Block '.hidden'
    // -------------------------------------------
    .hidden{
        
        &--xs{
            display: none !important;
        }
    }
}

// -----------------------------------------------
// Size: Small
// -----------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    // -------------------------------------------
    // Block '.hidden'
    // -------------------------------------------
    .hidden{
        
        &--sm{
            display: none !important;
        }
    }

    // -------------------------------------------
    // Block '.visible'
    // -------------------------------------------
    .visible{
        
        &--xs{
            display: none !important;
        }
    }
}

// -----------------------------------------------
// Size: Medium
// -----------------------------------------------
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    // -------------------------------------------
    // Block '.hidden'
    // -------------------------------------------
    .hidden{
        
        &--md{
            display: none !important;
        }
    }

    // -------------------------------------------
    // Block '.visible'
    // -------------------------------------------
    .visible{
        
        &--xs{
            display: none !important;
        }
    }
}

// -----------------------------------------------
// Size: Large
// -----------------------------------------------
@media only screen and (min-width: 1201px) {

    // -------------------------------------------
    // Block '.visible'
    // -------------------------------------------
    .visible{
        
        &--xs{
            display: none !important;
        }
    }
}

