// out: css/qa.css, compress: true
// @import 'variables.less';
// Name:            qa
// Description:     Defines styles to create layouts with qa
//
// Component:       '.qa__*'
//                  '.qa__*'
//
// -------------------------------------------------
// Block '.qa'
// -------------------------------------------------
.qa{
    margin-bottom: 60px;

    // Element '.qa .qa__title'
    & &__title{
        font-size: 54px;
        line-height: 60px;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
    }

    // Element '.qa .qa__item'
    & &__item{
        
        & + .qa__item{
            margin-top: 60px;
        }
    }

    // Element '.qa .qa__q'
    & &__q{
        font-size: 30px;
        line-height: 36px;
        color: #20508f;
        font-weight: 700;
        margin-bottom: 16px;
    }

    // Element '.qa .qa__a'
    & &__a{

        & + .qa__a{
            margin-top: 30px;
        }
    }
}

// -----------------------------------------------
// Size: xSmall
// -----------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    // -------------------------------------------
    // Block '.qa'
    // -------------------------------------------
    .qa{
        
        & &__title{
            font-size: 30px;
            margin: 45px 0 50px;
        }

        & &__q{
            font-size: 24px;
            line-height: 30px;
        }

        & &__item{

            & + .qa__item{
                margin-top: 50px;
            }
        }
    }
}

// -----------------------------------------------
// Size: Small
// -----------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}