// out: css/surprize.css, compress: true
// @import 'variables.less';
// Name:            surprize
// Description:     Defines styles to create layouts with surprize
//
// Component:       '.surprize__*'
//                  '.surprize__*'
//
// -------------------------------------------------
// Block '.surprize'
// -------------------------------------------------
.surprize{
    margin-top: 135px;
    

    // Element '.surprize .surprize__item'
    & &__item{
        position: relative;
        display: inline-block;
        margin: 0 40px;
        width: 250px;
        height: 145px;
        vertical-align: bottom;
        
        &:before{
            content: '';
            position: absolute;
            top: 20px;
            left: 50%;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            border-radius: 100%;
            transform: skewX(10deg);
        }

        &.surprize__item--1{
            &:before{
                box-shadow: 0 0 90px 50px #61D8FF;
            }
            
            .surprize__container{
                background-image: -moz-linear-gradient( 45deg, rgb(85,203,247) 0%, rgb(130,105,255) 100%);
                background-image: -webkit-linear-gradient( 45deg, rgb(85,203,247) 0%, rgb(130,105,255) 100%);
                background-image: -ms-linear-gradient( 45deg, rgb(85,203,247) 0%, rgb(130,105,255) 100%);
            }
        }
        
        &.surprize__item--2{
            &:before{
                box-shadow: 0 0 90px 50px #fff65e;
            }

            .surprize__container{
                background-image: -moz-linear-gradient( 45deg, rgb(249,160,20) 0%, rgb(249,207,14) 100%);
                background-image: -webkit-linear-gradient( 45deg, rgb(249,160,20) 0%, rgb(249,207,14) 100%);
                background-image: -ms-linear-gradient( 45deg, rgb(249,160,20) 0%, rgb(249,207,14) 100%);
            }
        }
        
        &.surprize__item--3{
            &:before{
                box-shadow: 0 0 90px 50px #ffa7c4;
            }

            .surprize__container{
                background-image: -moz-linear-gradient( 45deg, rgb(205,109,233) 0%, rgb(234,63,144) 100%);
                background-image: -webkit-linear-gradient( 45deg, rgb(205,109,233) 0%, rgb(234,63,144) 100%);
                background-image: -ms-linear-gradient( 45deg, rgb(205,109,233) 0%, rgb(234,63,144) 100%);
            }
        }
    }
    
    & &__container{
        position: relative;
        height: 145px;
        background: #ddd;
        transform: skewX(-10deg);
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
        z-index: 10;

    }

    & &__text{
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        transform: skewX(10deg);
    }
    
    & &__img{
        margin-top: -140px;
        transform: skewX(10deg);
    }

}

// -----------------------------------------------
// Size: xSmall
// -----------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    // -------------------------------------------
    // Block '.surprize'
    // -------------------------------------------
    .surprize{
    
    }
}

// -----------------------------------------------
// Size: Small
// -----------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}